pandas
numpy
streamlit
scikit-learn
matplotlib
seaborn
xgboost
lightgbm
fastapi
uvicorn
PyJWT
redis
prometheus-fastapi-instrumentator
python-multipart
pydantic
pydantic-settings
pymongo[srv]
python-dotenv
